export root=$HOME/Documents/scripts

#oil
55 6 * * * /bin/bash $root/Documents/scripts/run_oil.sh
0 12 * * * /bin/bash $root/Documents/scripts/run_oil.sh
0 17 * * * /bin/bash $root/Documents/scripts/run_oil.sh


#share market
2 11-15 * * * /bin/bash $root/Documents/scripts/run_share_market.sh

# gold
30 6-23 * * * /bin/bash $root/Documents/scripts/run_gold.sh

# silver
30 6-23 * * * /bin/bash $root/Documents/scripts/run_silver.sh

#currency
30 6-23 * * * /bin/bash $root/Documents/scripts/run_currency.sh
