export root=$HOME/Documents/scripts

#oil
55 6 * * * /bin/bash $root/Documents/scripts/run_oil.sh
0 12 * * * /bin/bash $root/Documents/scripts/run_oil.sh
0 17 * * * /bin/bash $root/Documents/scripts/run_oil.sh


#share market
2 11-15 * * * /bin/bash $root/Documents/scripts/run_share_market.sh

# gold
30 6-23 * * * /bin/bash $root/Documents/scripts/run_gold.sh

# silver
30 6-23 * * * /bin/bash $root/Documents/scripts/run_silver.sh

#currency
30 6-23 * * * /bin/bash $root/Documents/scripts/run_currency.sh



#alias run on 0, 20th and 40th minutes in between 9am to 5pm
0,20,40 9-17 * * * /bin/bash -l -c 'cd /home/mac/Documents/scripts/; source ~/myenv/bin/activate; python bank_rate.py; python currency.py; python gold-silver.py;  python oil.py; python earthquake.py;  python share_market.py; python top_music_video.py; python top_singer.py; python patro.py; python channel_info.py; python latest_youtube_video.py; python latest_reel.py;  python earthquake.py;  cd output; git checkout; echo "$(date) - Scrapping Started" >> /home/mac/Documents/scripts/logs/scrap.log 2>&1'